.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 55px;
    width: 100%;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.label {
    color: black;
    margin-bottom: 4px;
}

.percentage {
    color: black;
    font-weight: 500;
}